@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,700;1,300&family=Roboto:ital,wght@0,100;0,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppis', sans-serif;
    font-family: 'robot', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url("/assets/img/register.jpeg")no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}

@keyframes animateBg {
    100% {
      filter: hue-rotate(360deg);
    }
  }

.login-box {
    position: relative;
    width: 400px;
    height: 650px;
    background: transparent;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

h2 {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 1px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 1rem;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    color: #fff;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}

button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.login-link {
    margin: 15px 0;
}

.login-link p, a{
    color: #fff;
    font-size: .9rem;
    text-align: center;
    text-decoration: none;
}

.login-link a:hover{
   text-decoration: underline;
}